node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
.dev.vars
.dev.vars.*

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Playwright
/test-results
/playwright-report
/blob-report
/playwright/.cache
/playwright/.auth

# Not essential, but sometimes MCP configs  include secrets
.mcp.json
static/three-voice-notes-cropped.mp4
static/Cap 2026-08-30 at 16.54.06.mp4
